* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    width: 1280px;
    margin: 0;
    background: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient( to left top, #E5E5E5 0%, transparent 100% );
}

.main {
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: row;
    margin: 75px 80px 75px 80px;
    background: #FFFFFF;
    box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
}

.main-left {
    background: linear-gradient(180deg, #428A60 0%, #35734F 100%);
    min-width: 50%;
    justify-content: space-between;
    color: white;
    display: flex;
    flex-direction: column;
}

.main-left__title {
    margin: 40px auto auto 40px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}

.main-left__text {
    margin: auto auto 40px 40px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
}

.main-left__ellipse {
    height: 61.1vh;
    width: 31.1%;
    left: 100px;
    top: 146px;
    border-radius: 50%;
    background: #428A60;
    position: absolute;
    z-index: 2;
}

.main-left__border {
    height: 688px;
    width: 688px;
    left: 315px;
    top: -19px;
    border-radius: 50%;
    border: 20px solid #FFFFFF;
    position: absolute;
    opacity: 0.03;
    box-sizing: border-box;
    z-index: 0;
}

.main-left__img {
    left: 137px;
    top: 287px;
    border-radius: 0px;
    position: absolute;
    z-index: 3;
}

.main-right {
    text-align: center;
    justify-content: center;
    min-width: 50%;
    z-index: 4;
}

.main-right__title {
    background: #F8F8F8;
    min-height: 136px;
}


.main-right__title h1 {
    margin: 0;
    padding: 29px 128px 29px 129px;
    color: #212121;
    width: 100%;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 39px;
    letter-spacing: 0em;
}

.main-right__form {
    height: calc(100vh - 150px - 136px - 112px);
    display: inline-flex;
    flex-direction: column;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: left;
    margin: 52px 123px 60px 117px;
}

.main-right__text {
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-align: left;
    height: 16px;
}

.main-right__text b {
    color: #428A60;
}

.main-right__name,
.main-right__tel,
.main-right__country {
    height: 50px;
    background: #F8F8F8;
    border: 1px solid #E4E4E4;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.main-right__country:hover {
    cursor: pointer;
}

.main-right__name {
    width: 100%;
    padding: 16px 235px 16px 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    opacity: 50%;

}

.main-right__phone {
    display: flex;
    margin-top: -15px;
}

.main-right__tel {
    width: 57%;
    margin-right: 20px;
    padding: 16px 36px 16px 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    opacity: 50%;
}

.main-right__country {
    width: 116px;
    color: #212121;
    padding: 16px 36px 16px 20px;
    text-align: center;
    justify-content: center;
    appearance: none;
    background-image: url("img/down-up.svg");
    background-repeat: no-repeat;
    background-position: 81% 55%;
}

.main-right__select:after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("img/flag.svg");
    margin-left: -63px;
    margin-top: 25px;
}

.main-right__country div {
    position: relative;
    left: 20px;
}

.main-right__flag {
    position: relative;
    width: 26.18px;
    height: 18px;
    left: 250px;
    bottom: 44px;
}

.main-right__submit {
    height: 42px;
    width: 320px;
    left: 757px;
    top: 473px;
    border-radius: 5px;
    padding: 12px 20px 12px 20px;
    background: #428A60;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin-top: 18px;
    background-image: url("img/down-right.svg");
    background-repeat: no-repeat;
    background-position: 66% 55%;
}

.main-right__submit:hover {
    cursor: pointer;
}


@media  (max-width: 320px) {
    body {
        width: 100%;
    }

    .main {
        display: flex;
        flex-direction: column;
        margin: 60px 0;
        width: 100%;

    }

    .main__left {
        background: none;
        width: 100%;
    }

    .main__left-title {
        margin: 40px auto auto 40px;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
    }

    .main__left-text {
        margin: auto auto 40px 40px;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0em;
    }

    .main__left-ellipse {
        height: 200px;
        width: 200px;
        left: 100px;
        top: 146px;
        border-radius: 50%;
        background: #428A60;
        position: absolute;
        z-index: 2;
    }

    .main__left-border {
        height: 688px;
        width: 688px;
        left: 315px;
        top: -19px;
        border-radius: 50%;
        border: 20px solid #FFFFFF;
        position: absolute;
        opacity: 0.03;
        border: 20px solid #FFFFFF;
        box-sizing: border-box;
        z-index: 0;
    }

    .main__left-img {
        left: 137px;
        top: 287px;
        border-radius: 0px;
        position: absolute;
        z-index: 3;
    }

    .main__right {
        text-align: center;
        justify-content: center;
        min-width: 50%;
    }

    .main__right-title {
        background: #F8F8F8;
        min-height: 136px;

    }

    .main__right-title h1 {
        margin: 0;
        padding: 29px 128px 29px 129px;
        font-size: 30px;
        font-style: normal;
        font-weight: 800;
        line-height: 39px;
        letter-spacing: 0em;
        color: #212121;
        width: 100%;
    }

    .main__right-form {
        height: calc(100vh - 150px - 136px - 112px);
        display: inline-flex;
        flex-direction: column;
        font-size: 12px;
        font-style: normal;
        font-weight: 800;
        line-height: 16px;
        letter-spacing: 0.05em;
        text-align: left;
        margin: 52px 123px 60px 117px;
    }

    .main__right-text {
        font-size: 12px;
        font-style: normal;
        font-weight: 800;
        line-height: 16px;
        letter-spacing: 0.05em;
        text-align: left;
        height: 16px;
    }

    .main__right-text b {
        color: #428A60;
    }

    .main__right-name,
    .main__right-tel,
    .main__right-country {
        height: 50px;
        background: #F8F8F8;
        border: 1px solid #E4E4E4;
        margin-top: 10px;
        margin-bottom: 20px;
        border: 1px solid #E4E4E4;
        border-radius: 5px;
    }

    .main__right-name {
        width: 100%;
        padding: 16px 235px 16px 20px;
    }


    .main__right-phone {
        display: flex;
        margin-top: -15px;
    }

    .main__right-tel {
        width: 57%;
        margin-right: 20px;
        padding: 16px 36px 16px 20px;
        /*padding: 16px 36px 16px 20px;*/
    }

    .main__right-country {
        width: 116px;
        color: #212121;
        padding: 16px 36px 16px 20px;
        text-align: center;
        justify-content: center;
        appearance: none;
        background-image: url("img/Polygon 1.svg");
        background-repeat: no-repeat;
        background-position: 81% 55%;
    }

    .main__right-country div {
        position: relative;
        left: 20px;
    }

    .main__right-banner {
        position: relative;
        width: 26.18px;
        height: 18px;
        left: 250px;
        bottom: 44px;
    }

    .main__right-submit {
        height: 42px;
        width: 320px;
        left: 757px;
        top: 473px;
        border-radius: 5px;
        padding: 12px 20px 12px 20px;
        background: #428A60;
        border: none;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: center;
        color: #FFFFFF;
        margin-top: 18px;
        background-image: url("img/Vector 2.svg");
        background-repeat: no-repeat;
        background-position: 66% 55%;
    }
}
