.main-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, $color-green-light 0%, $color-green 100%);
  min-width: 50%;
  color: $color-write;
}

.main-left__title {
  margin: 40px auto auto 40px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.main-left__text {
  margin: auto auto 40px 40px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  z-index: 1;
}

.main-left__ellipse {
  margin: 17px 20px auto;
  height: 398px;
  width: 398px;
  border-radius: 50%;
  position: absolute;
  top: 130px;
  background: $color-green-light;
  z-index: 2;
}

.main-left__border {
  height: 688px;
  width: 688px;
  left: 315px;
  top: -19px;
  border-radius: 50%;
  border: 20px solid $color-write;
  position: absolute;
  opacity: 0.03;
  box-sizing: border-box;
  z-index: 0;
}

.main-left__img {
  left: 50px;
  top: 84px;
  width: 465px;
  height: 255px;
  border-radius: 0px;
  position: relative;
  z-index: 3;
}
.main-left__img img {
  width: 100%;
}

@media (max-width: 992px) {
  .main-left {
    height: 70vh;
    overflow-y: hidden;
    flex-direction: row;
    background: $color-write;
    color: $color-black;
    justify-content: center;
  }
  .main-left__title {
    margin: 40px auto 0 20px;
  }
  .main-left__text {
    margin: 40px 20px 0 auto;
  }
  .main-left__border {
    display: none;
  }
  .main-left__ellipse {
    margin: 0;
    height: 398px;
    width: 398px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: calc((100% - 398px) / 2);
  }
  .main-left__img {
    overflow-y: hidden;
    position: absolute;
    height: 255px;
    width: 465px;
    left: calc((100% - 465px) / 2);
    top: 200px;
  }
}

@media (max-width: 768px) {
  .main-left {
    height: 50vh;
  }
  .main-left__ellipse {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    left: calc((100% - 300px) / 2);
  }
  .main-left__img {
    height: 200px;
    width: 330px;
    position: absolute;
    left: calc((100% - 330px) / 2);
  }
}

@media (max-width: 320px) {
  .main-left__ellipse {
    height: 202px;
    width: 202px;
    border-radius: 50%;
    position: absolute;
    top: 140px;
    left: calc((100% - 202px) / 2);
  }
  .main-left__img {
    height: 122px;
    width: 223px;
    position: absolute;
    left: calc((100% - 223px) / 2);
  }
}
